<section
  id="heroLanding"
  class="heroLanding"
  style="border-top-left-radius: 2rem; border-top-right-radius: 2rem"
>
  <div
    class="bg-text-container"
    style="
      border-top: solid 10px;
      border-bottom: solid 10px;
      padding: 3% 0%;
      border-color: #14213d;
    "
  >
    <div class="animate-text">
      <span class="span">The Eweekly&nbsp;</span>
      <span class="span">Live News&nbsp;</span>
    </div>
    <br />
    <div class="animate-text left">
      <span class="span">Krazy news&nbsp;</span>
      <span class="span">Top 100&nbsp;</span>
    </div>
  </div>
  <div class="img-container" (click)="scrollDown()">
    <img src="../assets/1502731321.svg" alt="" class="canvas img-fluid" />
  </div>
</section>

<section style="height: 5vh" id="next"></section>
