<section class="aboutLanding container">
  <div class="heading container">
    <div class="row headingChild">
      <div class="content col-12 col-md-6 pr-md-5">
        <h1 class="headingColor text-center">
          <div style="display: flex;flex-direction: column;row-gap: 12px;">
            <div><span>T</span>HE</div>
            <div><span>E</span>WEEKLY</div>
          </div>
        </h1>
        <ngx-typed-js [strings]="['Amazing news on your fingertips']">
          <span class="typing"></span>
        </ngx-typed-js>
      </div>
      <div class="col-12 col-md-6">
        <section class="count">
          <div class="service-graphic sg2">
            <div class="screen monitor">
              <div class="content">
                <div class="browser">
                  <div class="browser-content">
                    <ul class="txt">
                      <li></li>
                      <li class="big"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li></li>
                      <li></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li></li>
                      <li class="big"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                      <li class="third"></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="base">
                <div class="grey-shadow"></div>
                <div class="foot top"></div>
                <div class="foot bottom"></div>
              </div>
            </div>

            <div class="laptop">
              <div class="screen">
                <ul class="txt">
                  <li></li>
                  <li class="big"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li></li>
                  <li></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li></li>
                  <li class="big"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                  <li class="third"></li>
                </ul>
              </div>
              <div class="btm"></div>
            </div>

            <div class="phone">
              <div class="screen">
                <ul class="txt">
                  <li></li>
                  <li></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="shadow"></div>
            </div>

            <div class="ipad">
              <div class="screen">
                <ul class="txt">
                  <li></li>
                  <li class="big"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li></li>
                  <li></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li class="txt-half"></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="aboutContent container">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="internalContent" data-aos="fade-left">
            <h1><span>O</span>ur <span>M</span>ission</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              non maxime optio enim ratione, labore explicabo omnis at fugiat
              accusamus modi corrupti ipsum sed praesentium? Fugiat ullam
              dolorum ducimus beatae!
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="../../assets/mission.jpg" alt="" class="img-fluid" data-aos="fade-right" />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team" data-aos="zoom-in-up">
  <div class="container">
    <div class="team-top text-center wow bounceIn">
      <h3 data-aos="zoom-out-up" class="headingColor">
        <span>O</span>UR <span>T</span>EAM
      </h3>
      <p data-aos="zoom-out-up">Meet our amazing team</p>
    </div>
    <div class="team-content">
      <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col-md-3 text-center wow bounceIn" data-aos="zoom-out-right" data-wow-duration="2s">
          <div class="team-circle mb-3 tanishq"></div>
          <h4>Tanishq Shah</h4>
          <h5>Platform Engineer(PHP)</h5>
          <ul class="social-icons">
            <li class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-3 text-center wow bounceIn" data-aos="zoom-out-right" data-wow-duration="2s">
          <div class="team-circle mb-3 hardik"></div>
          <h4>ShreeHarsh Pandey</h4>
          <h5>Platform Engineer(PHP)</h5>
          <ul class="social-icons">
            <li class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-3 text-center wow bounceIn" data-aos="zoom-out-left" data-wow-duration="2s">
          <div class="team-circle mb-3 prateek"></div>
          <h4>Piyush Parashrampuria</h4>
          <h5>Platform Engineer(PHP)</h5>
          <ul class="social-icons">
            <li class="social-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-facebook-f" aria-hidden="true"></i>
            </li>
            <li class="social-icon">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="review"></div>