<div style="height: 100vh; overflow: hidden" class="main__wrapper">
  <main>
    <h1>The <span style="color: #fca311">E</span>WEEKLY</h1>
    <aside>
      <div>
        <div class="issue">Issue #1</div>
        <div class="date">Friday, 3 Jan, 2023</div>
        <div class="edition">Two memes Edition</div>
      </div>
    </aside>
    <h2 class="title--large main-title">
      This newspaper is a navigation panel, <span>click</span> on any of the
      image to go to the desired page!!
    </h2>
    <div class="main-text multi-column">
      <p>
        Sometimes, Internet users land themselves in an uncommon situation where
        an app or website can be used for both work and personal situations.
        Well, a young front-end designer was spending up to 13 hours on the
        site, Codepen for work and her hobby, which unfortunately, is also
        coding.
      </p>
      <p class="remove">
        The designer, whose work includes a <em>To-Do Terrarium</em>, clarified,
        "Well, I didn't <em> have </em>to use it for work but it was already
        part of my workflow. It just made sense as it was more efficient." The
        biggest issue, she said, is that she would hop on Codepen for work, but
        would get distracted by pens made by others in the community for
        unexpectedly long periods of time, which then causes her to spend even
        more time on the site.
      </p>
      <p>
        "I mean, that's terrible right?" she asked. Codepen, which brands itself
        as the best place to build, test, and discover front-end code, has
        declined to comment at this time.
      </p>
    </div>
    <a class="terrarium" (click)="navClick()">
      <figure>
        <img src="../../assets/breakingNews.jpg" />
        <figcaption>
          Click above to open the breaking news section, and enjoy the latest
          news about the various categories available!
        </figcaption>
      </figure>
    </a><a class="item-with-image plan span--2 long--2"><img src="../../assets/photoGallery.jpg" />
      <h3>Can you get inspired to make your own floor plans?</h3>
      <div class="multi-column">
        <p>
          Making a floor Plan with CSS Grid? Talk about using the wrong tool for
          the job. But I guess this is what happens when someone isn't happy
          with any of the floor plans found on Pinterest; she'll start making
          her own for the eventual home that she will never own. Nevertheless,
          there's a home office with a large window to look out of pensively
          during rainy days and a ton of "white space" for the cats to run
          around.
        </p>
      </div>
    </a><a class="hogwarts">
      <div class="hogwarts__title">50% Off Hogwarts Express tickets</div>
      <div class="hogwarts__image">
        <span>Limited time offer</span><img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-hogwarts.svg" />
      </div>
    </a><a class="item-with-image pasta with-border">
      <h3>A pasta menu</h3>
      <p>
        Everybody loves pasta. It's impossible to not love them, so here are 15
        recipes, served with GSAP. Note the easter egg — the menu icon changes
        according to the pasta that you choose.
      </p>
    </a><a class="item-with-image magazine with-border">
      <h3>Marvel at a magazine</h3>
      <p>
        A tribute of sorts to an era of cool superhero movies, this is a
        Marvel-themed magazine! Recommended, because it took 45 hours, so you
        know some serious dedication has been poured into this.
      </p>
    </a>

    <div class="sidebar">
      <h3 class="title--big">Click below for About Us</h3>
      <a class="codepen-item pie" (click)="teamClick()"><img class="pie__image"
          src="../../assets/Tiny male and female character near typewriter with paper.jpg" />
        <div class="pie__subtitle">Our Team</div>
        <div class="pie__content">
          <h3>Meet our Team</h3>
          <p>This is our Slpendid team, click here to learn more about us</p>
        </div>
      </a>
      <a class="sidebar-item captcha">
        <h5>Frustrated designer runs amok with Captcha ideas</h5>
        <p>
          From Tic Tac Toe to solving meme-based questions, this is a different
          take on how web captchas should be. "I have not successfully picked
          out all photos of a truck on the first try. Something's gotta change,"
          says the designer, who has requested to remain anonymous.
        </p>
      </a><a class="sidebar-item slack-ui with-border">
        <h5>Slack UI gets reverse engineered</h5>
        <p>
          Another valiant effort to reverse engineer a web app. However, the UI
          is repurposed to showcase Codepens instead of mock conversations. This
          is a codepen showcase inception situation.
        </p>
      </a>
    </div>
  </main>
</div>