:root {
  --dark: #373349;
  --gap: 15px;
  --width: 240px;
  --height: var(--width);
}

.body {
  height: 80vh !important;
  background-color: white;
  overflow: scroll;
}

.body {
  margin: var(--gap);
}
.body::-webkit-scrollbar {
  display: none;
}

.containers > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  overflow: hidden;
  padding: 2%;
  /* border: solid 1px #FCA311; */
}

.containers > a > img {
  border: solid 2px #fca311;
}
/* .imgC {
  border: solid 2px #fca311;
} */
.containers > a::after {
  content: "";
  background: linear-gradient(transparent, black);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition-duration: 0.75s;
}

.containers > a:hover::after {
  transform: translateY(50%);
}

.containers > a > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 1s;
}

.containers > a:hover > img {
  transform: scale(1.05);
}

.containers {
  display: grid;
  grid-gap: var(--gap);
  /* grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: var(--height);
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
.headingColor {
  font-size: 4rem;
  font-weight: bold;
}
.headingColor span {
  color: #fca311;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
}
.content p {
  font-family: "Lora", serif;
  font-style: italic;
  /* font-size: 16px; */
  color: #777;
}
