<div class="html">
  <div class="container h-100 pt-5">
    <div class="row">
      <div class="content col-12 col-md-6">
        <h1 class="headingColor text-center">
          <span>T</span>he <span>G</span>allery
        </h1>
        <p>This is our amazing photo gallery, Go ahead and take a look</p>
      </div>
      <div class="img col-12 col-md-6">
        <img src="../../assets/Photos-pana.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>

  <div class="body">
    <div class="containers container">
      <a
        href="https://source.unsplash.com/600x600/?sig=1"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=1" />
      </a>

      <a
        href="https://source.unsplash.com/600x800/?sig=12"
        data-lightbox="homePortfolio"
        target="_blank"
        class="vertical"
      >
        <img src="https://source.unsplash.com/600x800/?sig=12" />
      </a>

      <a
        href="https://source.unsplash.com/800x600/?sig=71"
        data-lightbox="homePortfolio"
        target="_blank"
        class="horizontal"
      >
        <img src="https://source.unsplash.com/800x600/?sig=71" />
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=40"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/6Ij9PiehENA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=32"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=32" />
      </a>

      <a class="big" data-lightbox="homePortfolio">
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://source.unsplash.com/800x800/?sig=7"
                class="d-block w-100 imgC"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://source.unsplash.com/800x800/?sig=8"
                class="d-block w-100 imgC"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://source.unsplash.com/800x800/?sig=9"
                class="d-block w-100 imgC"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=111"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=111" />
      </a>

      <a
        href="https://source.unsplash.com/600x800/?sig=94"
        data-lightbox="homePortfolio"
        class="vertical"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x800/?sig=94" />
      </a>

      <a
        href="https://source.unsplash.com/600x600/?sig=11"
        data-lightbox="homePortfolio"
        target="_blank"
      >
        <img src="https://source.unsplash.com/600x600/?sig=11" />
      </a>
    </div>
  </div>
</div>
