<nav class="navbar navbar-expand-lg bg-body-tertiary p-4 sticky-top" id="#navbar">
  <div class="container-fluid">
    <a class="navbar-brand"><span class="span">E</span>WEEKLY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navAn">
        <li class="nav-item active mx-md-2">
          <a class="nav-link" href="" (click)="navClick()"><span>H</span>ome <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-md-2">
          <a class="nav-link" (click)="navNews('general')"><span>N</span>ews</a>
        </li>
        <li class="nav-item dropdown mx-md-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>C</span>ategory
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" class="nav-link" (click)="navNews('sports')">Sports</a>
            </li>
            <li>
              <a class="dropdown-item" class="nav-link" (click)="navNews('business')">Business</a>
            </li>
            <li>
              <a class="dropdown-item" class="nav-link" (click)="navNews('health')">Health</a>
            </li>
            <li>
              <a class="dropdown-item" class="nav-link" (click)="navNews('entertainment')">Entertainment</a>
            </li>
            <li>
              <a class="dropdown-item" class="nav-link" (click)="navNews('technology')">Technology</a>
            </li>
            <li>
              <a class="dropdown-item" class="nav-link" (click)="navNews('science')">Science</a>
            </li>
          </ul>
        </li>
        <li class="nav-item mx-md-2">
          <a class="nav-link" (click)="navAbout()"><span>A</span>bout</a>
        </li>
        <li class="nav-item mx-md-2">
          <a class="nav-link" (click)="navPhoto()"><span>P</span>hoto</a>
        </li>
        <li class="nav-item mx-md-2">
          <a class="nav-link" (click)="navProduct()"><span>P</span>roduct</a>
        </li>
        <li *ngIf="cart" class="nav-item mx-md-2">
          <a class="nav-link" (click)="navCart()"><span>C</span>art</a>
        </li>
        <li *ngIf="admin" class="nav-item mx-md-2">
          <a class="nav-link" (click)="navAdmin()"><span>A</span>dmin</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active mx-md-2">
          <a *ngIf="!isLoggedIn" (click)="navLog()" class="nav-link btn" style="cursor: pointer" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Login/Sign Up <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item mx-md-2 d-flex align-items-center" style="cursor: pointer">
          <img src="../../assets/fa-user-circle.png" style="height: 30px; width: 30px" />
          <span class="ms-2" style="color: red" (click)="logout()">Logout</span>
        </li>
      </ul>
    </div>
  </div>
</nav>