p {
  font-family: Lato;
}
.navAn li a:hover {
  color: #14213d;
  /* text-decoration: underline;
  text-decoration-color: #fca311; */
  border-bottom: 2px solid #fca311;
  border-spacing: 2px;
  /* text-decoration: ; */
}

.navAn li a:hover span {
  /* font-size: large; */
  color: #fca311;
  font-weight: bold;
}

.navbar {
  /* border: 2px solid #14213d;
  border-radius: 15px; */
  /* background-color: #e5e5e5; */
  background-color: white;
  border-bottom-left-radius: 2rem;
  /* border: 2px solid; */
  box-shadow: 0px 5px #fca311;
}

.span {
  color: #fca311;
}

.navbar li {
  cursor: pointer;
}
